html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  cursor: none;
}

@font-face {
  font-family: 'Sedgwick Ave';
  src: url(./fonts/SedgwickAve-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cantarell';
  src: url(./fonts/Cantarell-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Cantarell';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sedgwick Ave';
}

.pulse {
  transform: scale(1);
  animation: pulse 0.525s infinite;
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.1em);
  }
  100%{
    transform: translateY(0em);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}
